  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  p {
      font-size: 16px;
  }

  .margin {
      margin-bottom: 45px;
  }

  .bg-1 {
      background-size: 100% 100%;
      background-attachment: fixed;
      background-image: url('../img/image.png');
      color: #ffffff;
  }

  .bg-2 {
      background-color: #ffffff;
      color: #555555;
  }

  .bg-3 {
      background-color: #AAC6A0;
      color: #555555;
      padding-top: 20px;
      padding-bottom: 20px;
  }


  .bg-4 {
      background-color: #49523F;
      color: #fff;
  }

  .container-fluid {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
      color: #1abc9c !important;
  }

  #mail {
      color: #317265;
      font-size: 20px;
  }